* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: #262626;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.header{
    width: 100%;
    height: 100vh;
    background: url('images/bb.jpg') no-repeat;
    background-size: cover;
    background-position:  center;
    padding:5px 30px;
}
.header nav{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.nav-options{
 display: flex;
 justify-content: center;
 align-items: center;
}
.nav-options a{
    color: white;
    margin: 0 20px;
    font-size: 15px;
}
.nav-options a span{
    color: rgba(255,255,255,0.8);
    font-size: 18px;
}
.nav-options a:hover{
    text-decoration: underline;
}
.nav-options a span:hover{
    color: white;
}
.nav-btns{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-btns a{
    color: white;
    margin: 0 10px;
    font-size: 15px;
    background: transparent;
    padding: 10px 20px;
    border-radius: 15px;
}
.nav-btns a:nth-child(1){
    background: #696969;
}
.nav-btns a:nth-child(2):hover{
    background: #696969;
}
.nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-main{
    width: 90%;
    height: 60%;
    margin:20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-main div{
    width: 50%;
    margin: 0 10px;
}
.header-main .h-m-right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.h-m-right img{
   border-radius: 5px;
   box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.h-m-left{
    color: white;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.h-m-left .title{
    width: 100%;
}
.h-m-left .title h1{
    letter-spacing: 2px;
    font-size: 40px;
    margin-bottom: 10px;
}
.h-m-left .title h4{
 color: rgba(255,255,255,0.6);
 font-size: 25px;
 margin-bottom: 10px;
}
.h-m-left .title h5{
    color: rgba(255,255,255,0.6);
    font-size: 12px;
    margin-bottom: 10px;
}
.h-m-left .point{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px 0;
    padding-left: 10px;
}
.point p{
    margin: 0 10px;
    font-size: 23px;
}
.point p span{
    color: rgba(255,255,255,0.6);
    font-size: 16px;
}
.point i{
    color: yellow;
    font-size: 17px;
}
.h-m-left .watch p{
    color: rgba(255,255,255,0.7);
    line-height: 30px;
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 25px;
}
.h-m-left .watch a{
    color: white;
    background: red;
    padding: 10px 50px;
    border-radius: 20px;
}
.h-m-left .watch a:hover{
  background: white;
  color: red;
  font-weight: 900;
}


.header-bottom{
    width: 90%;
    height: 28%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.header-bottom .card{
    width: calc(20% - 20px);
    height: 150px;
    margin: 0 10px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    border-bottom: 10px solid transparent;
    cursor: pointer;
    position: relative;
}
.header-bottom .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}
.header-bottom .card h3{
    color: white;
    position: absolute;
    margin-bottom: 10px;
    transition: 0.3s;
}
.header-bottom .card::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
}
.card:hover{
    border-bottom: 10px solid red;
}
.card:hover h3{
    transform: translateY(-30px);
}
.card:hover::after{
    background: transparent;
}
.card:nth-child(1)::after{
 background: transparent;
}
.card:nth-child(1){
    border-bottom: 10px solid red;
}
.card:nth-child(1) h3{
    transform: translateY(-30px);
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background: #17161a;
}
.menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu ul li{
    margin: 0 20px;
    position: relative;
}
.menu ul li a{
 color: rgba(255,255,255,0.5);
 font-size: 18px;
}
.menu ul li a:hover{
    color: white;
 }
 .menu ul li:nth-child(1) a{
    color: white;
}
.menu ul li::before{
    content: '';
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 100%;
    border-bottom: 4px solid transparent;
}
.menu ul li:nth-child(1)::before{
    border-bottom: 4px solid red;
}
.menu ul li:hover::before{
    border-bottom: 4px solid red;
}


.pop{
    background-color: #111010;
    width: 100%;
    height: 100%;
    padding: 30px;
}
.pop .series{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.pop .series .name{
    margin:20px 10px;
}
.pop .series .name p{
    margin-top: 10px;
    color: white;
    font-size: 14px;
    font-weight: 700;
}
.pop .series .name span{
    color: rgba(255,255,255,0.6);
    font-size: 14px;
}
.pop .series .name img{
    cursor: pointer;
    object-fit: cover;
}
.pop .series .name img:hover{
    transform: scale(1.1);
}
.pop h3{
    color: #fff;
}
.series span{
    margin: 0 30px;
    color: #797070;
    font-size: 55px;
    cursor: pointer;
}






.boxes{
    background: #262626;
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
}
.box{
    width: calc(20% - 10px);
    height: 100%;
    margin: 30px auto;
}
.box img{
    object-fit: cover;
    cursor: pointer;
    margin-bottom: 20px;
}
.box p{
    color: white;
    margin-bottom: 5px;
}
.box span{
    color: rgba(255,255,255,0.7);
}
.box img:hover{
    transform: scale(1.1);
}
/* Responsive */
@media (max-width:1200px){
    .header-main .h-m-left .watch p{
    line-height: 23px;
    }
    .header-main .h-m-right img{
        width: 500px;
    }
    .menu ul li a {
        font-size: 15px;
    }
    .header-bottom .card{
        height: 130px;
     }
     .pop{
        padding: 0;
     }
     .pop h3{
        padding: 15px;
     }
}
@media (max-width:1100px){
    .series span{
        font-size: 40px;
        margin: 0 10px;
    }
}
@media (max-width:1000px){
    .header-main{
        margin: 0 10px;
    }
 .header-bottom .card{
    height: 100px;
 }
 .h-m-left .watch a{
    padding: 10px;
 }
 .h-m-left .title h1{
    font-size: 35px;
 }
 .h-m-left .title h4{
    font-size: 20px;
 }
 .h-m-left .title h5{
    font-size: 10px;
 }
 .header-main .h-m-left .watch p {
    font-size: 14px;
}
.header-bottom .card h3{
    font-size: 18px;
}
.header-bottom{
    height: 40%;
}
.series .name:nth-child(3){
    display: none;
}
}
@media (max-width:850px){
 .header{
    padding: 5px 10px;
 }
 .header-main .h-m-right img {
    width: 400px;
}
.nav-btns a {
    padding: 10px 12px;
}
.header-bottom .card h3 {
    font-size: 15px;
}
.header-bottom .card {
    height: 90px;
}
.header-bottom .card:nth-child(1) {
    border-bottom: 5px solid red;
}
.header-bottom .card{
    border-bottom: 5px solid transparent;
}
.header-bottom .card:hover{
    border-bottom: 5px solid red;
}
.menu ul li{
    margin: 0 15px;
}
.h-m-left .title h1 {
    font-size: 28px;
}
.h-m-left .title h4 {
    font-size: 18px;
}
.h-m-left .title h5 {
    font-size: 9px;
}
.point p {
    font-size: 18px;
}
.point p span {
    font-size: 12px;
}
.header-main .h-m-left .watch p {
    width: 180px;
}
}
@media (max-width:790px){
    .series .name:nth-child(6){
        display: none;
    }
}
@media (max-width:750px){
    .header-bottom{
        width: 100%;
    }
    .menu ul li{
        margin: 0 10px;
    }
    .menu ul li::before{
        border-bottom: 3px solid transparent;
    }
    .menu ul li::before:hover{
        border-bottom: 3px solid red;
    }
    .menu ul li:nth-child(1)::before {
        border-bottom: 4px solid red;
    }
    .menu ul li a {
        font-size: 12px;
    }
}
@media (max-width:650px){
    .header-main .h-m-right img {
        width: 315px;
    }
    .header-bottom .card h3 {
        font-size: 12px;
    }
    .h-m-left .title h1 {
        font-size: 25px;
    }
    .h-m-left .title h4 {
        font-size: 16px;
    }
    .h-m-left .title h5 {
        font-size: 8px;
    }
    .header-main .h-m-left .watch p {
        width: 200px;
        font-size: 13px;
    }
    .h-m-left .watch a {
        padding: 8px;
        font-size: 15px;
    }

}
@media (max-width:620px){
    .series .name:nth-child(2){
        display: none;
    }
}
@media (max-width:600px){
 .nav-logo img{
    width: 50px;
 }
 .header-main .h-m-right img {
    width: 290px;
}
.nav-btns a {
    padding: 6px 12px;
}
.nav-options a span {
    font-size: 15px;
}
.menu{
    height: 100%;
    padding: 5px;
}
.menu ul{
    flex-wrap: wrap;
}
.menu ul li{
    margin: 20px;
}
.menu ul li a {
    font-size: 16px;
}
}
@media (max-width:550px){
    .header-main{
        flex-wrap:wrap;
        height: 40%;
    }
    .header-main .h-m-left{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        order: 2;
        margin-bottom: 15px;
    }
    .header-main .h-m-right{
        width: 100%;
        order: 1;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    .header-bottom{
        margin-top: 10px;
    }
    .h-m-left .point{
        justify-content: center;
    }
    .header-main .watch{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
    }
    .h-m-left .title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .nav-options a {
        color: white;
        margin: 0 10px;
        font-size: 15px;
    }
    

    .nav-options{
        display: none;
    }
    .header-bottom .card {
        height: 70px;
    }
    .header-bottom .card h3 {
        font-size: 25px;
    }
    .header{
        height: 1600px;
    }
    .header-bottom .card {
        height: 100px;
        width: 100%;
        margin: 15px 0;
    }
    .header-bottom {
        margin-top: -175px;
    }
    .header-main {
        flex-direction: column;
        justify-content: start;
        height: 50%;
    }
    .header-bottom .card {
        height: 150px;
        margin: 10px 0;
    }
    .h-m-right{
        margin-top: 100px;
    }
}
@media (max-width:520px){
    .nav-options a {
        font-size: 12px;
    }
    .nav-btns a{
        font-size: 12px;
    }
}
@media (max-width:460px){
    .series .name:nth-child(5){
        display: none;
    }
}