* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.header{
    width: 100%;
    height: 100vh;
    background: url('images/bb.jpg') no-repeat;
    background-size: cover;
    background-position:  center;
    padding:5px 30px;
}
.header nav{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.nav-options{
 display: flex;
 justify-content: center;
 align-items: center;
}
.nav-options a{
    color: white;
    margin: 0 20px;
    font-size: 15px;
}
.nav-options a span{
    color: rgba(255,255,255,0.8);
    font-size: 18px;
}
.nav-options a:hover{
    text-decoration: underline;
}
.nav-options a span:hover{
    color: white;
}
.nav-btns{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-btns a{
    color: white;
    margin: 0 10px;
    font-size: 15px;
    background: transparent;
    padding: 10px 20px;
    border-radius: 15px;
}
.nav-btns a:nth-child(1){
    background: #696969;
}
.nav-btns a:nth-child(2):hover{
    background: #696969;
}
.nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-main{
    width: 90%;
    height: 60%;
    margin:20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-main div{
    width: 50%;
    margin: 0 10px;
}
.header-main .h-m-right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.h-m-right img{
   border-radius: 5px;
   box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.h-m-left{
    color: white;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.h-m-left .title h1{
    letter-spacing: 2px;
    font-size: 40px;
    margin-bottom: 10px;
}
.h-m-left .title h4{
 color: rgba(255,255,255,0.6);
 font-size: 25px;
 margin-bottom: 10px;
}
.h-m-left .title h5{
    color: rgba(255,255,255,0.6);
    font-size: 12px;
    margin-bottom: 10px;
}
.h-m-left .point{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px 0;
    padding-left: 10px;
}
.point p{
    margin: 0 10px;
    font-size: 23px;
}
.point p span{
    color: rgba(255,255,255,0.6);
    font-size: 16px;
}
.point i{
    color: yellow;
    font-size: 17px;
}
.h-m-left .watch p{
    color: rgba(255,255,255,0.7);
    line-height: 30px;
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 25px;
}
.h-m-left .watch a{
    color: white;
    background: red;
    padding: 10px 50px;
    border-radius: 20px;
}
.h-m-left .watch a:hover{
  background: white;
  color: red;
  font-weight: 900;
}


.header-bottom{
    width: 90%;
    height: 28%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.header-bottom .card{
    width: calc(20% - 20px);
    height: 150px;
    margin: 0 10px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    border-bottom: 10px solid transparent;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;
}
.header-bottom .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
}
.header-bottom .card h3{
    color: white;
    position: absolute;
    margin-bottom: 10px;
}
.header-bottom .card:hover{
    opacity: 1;
}